@use "../../commonStyles/colors";


.about{
  background: colors.$color-light-xl;
}

.about-content{
  padding-top: 80px;
  display: flex;
  flex-direction: column-reverse;
}

.about-pets{
  height: 408px;
  background: url(../../../assets/images/about-pets.png) no-repeat;
  background-position-x: 175px;
}

.content {
  h3 {
    margin: 15px 20px 0 -5px;
    color: colors.$color-dark-l;
  }
}

#about-p-1, #about-p-2 {
  margin: 23px 0 0 -5px;
  color: colors.$color-dark-xl;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-content {
    padding: 42px 10px;
    text-align: center;

    h3{
      margin: 0;
    }
  }

  #about-p-1 {
    margin: 25px 15px 22px 15px;
  }

  #about-p-2 {
    margin: 0 15px
  }

  .about-pets {
    margin: 42px 20px 0 20px;
    height: 353px;
    background-position-x: center;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .about-content {
    padding: 80px 169px 100px 169px;
  }

  .about-pets {
    margin-top: 80px;
    background-position-x: center;
  }
}

@media (min-width: 1280px) {
  .about-content {
    flex-direction: row;
    margin-bottom: 100px;

    .about-pets {
      width: 50%;
    }

    .content {
      width: 35%;
    }
  }
}
