@use "../../../styles/common/colors";


.about{
  height: 588px;
  background: colors.$color-light-xl;
}

.about-content{
  padding-top: 80px;
  margin: 0 0 100px 0;
  display: flex;
}

.about-pets{
  width: 50%;
  height: 408px;
  background: url(../../../assets/images/about-pets.png) no-repeat;
  background-position-x: 175px;
}

.content {
  width: 35%;

  h3 {
    margin: 15px 20px 0 -5px;
    color: colors.$color-dark-l;
  }
}

#about-p-1, #about-p-2 {
  margin: 23px 0 0 -5px;
  color: colors.$color-dark-xl;
}
