@use "../../commonStyles/colors";


.donation {
  background: colors.$color-light-l;
}

.donation-content {
  display: flex;
  flex-direction: column-reverse;

  h3, h4, h5, a {
    color: colors.$color-dark-l;
  }

  h5 {
    margin: 20px 0;
    align-items: center;
  }

  .paragraph-s{
    color: colors.$color-dark-m;
  }

  a {
    text-decoration: none;
  }
}

.donation-dog{
  //margin-top: 10px; not needed for 768, recheck for 1280
  height: 261px;
  background: url("../../../assets/images/donation-dog.png") no-repeat;
  background-size: contain;
  background-position-x: center;
}

.credit-card{
  display: flex;
  align-items: center;
  padding: 7px 15px;


  background: colors.$color-primary;
  border-radius: 9px;
}

.credit-card:hover {
  background: colors.$color-primary-light;
  border-color: colors.$color-primary-light;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.credit-card-icon{
  margin-right: 10px;
  background: url("../../../assets/icons/credit-card.svg");
  width: 30px;
  height: 23px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .donation-content {
    padding: 42px 10px;

    span {
      display: block;
      padding: 0 10px;
      text-align: justify;
    }
  }

  h3 {
    font-size: 25px;
    text-align: center;
  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 14px;
    text-align: center;
  }

  .credit-card {
    margin: 20px auto;
    width: 270px;
    justify-content: center;
    h4 {
      font-size: 15px;
      line-height: 110%;
    }
  }

  .donation-dog {
    margin: 52px 30px 0 30px;
    height: 135px;
    background-position-x: center;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .donation-content-text {
    padding: 80px 194px 60px 194px;
  }
  .credit-card {
    margin: 23px 31px 20px 0;
    width: 320px;
  }

  .donation-content {
    padding-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .donation-content {
    padding: 80px 166px 110px 143px;
    flex-direction: row;

    .donation-dog {
      width: 60%;
      background-position-x: left;
    }

    .donation-content-text{
      width: 40%;
    }

    .credit-card {
      width: 90%;
      margin: 20px 0;
    }
  }
}

