@use "../../commonStyles/colors";


.donation{
  //height: 462px;
  background: colors.$color-light-l;
}

.donation-content{
  //padding: 80px 166px 100px 142px;
  display: flex;
  flex-direction: column-reverse;

  h3{
    margin: 0;
    //width: 90%;
    color: colors.$color-dark-l;
  }

  h4{
    margin: 0;

    letter-spacing: 0.06em;
    color: colors.$color-dark-l;
  }

  h5{
    margin: 20px 0;
    align-items: center;
    color: colors.$color-dark-l;
  }

  span{
    font-family: 'Arial', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: colors.$color-dark-m;
  }

  a {
    text-decoration: none;
    color: colors.$color-dark-l;
  }
}

.donation-dog{
  margin-top: 10px;
  height: 261px;
  //width: 60%; removed for small screen
  background: url("../../../assets/images/donation-dog.png") no-repeat;
  background-size: contain;
  background-position-x: center;
}

.donation-content-text{
  //width: 40%;
}

.credit-card{
  display: flex;
  align-items: center;
  padding: 7px 15px;
  //width: 90%;

  background: colors.$color-primary;
  border-radius: 9px;
}

.credit-card:hover {
  background: colors.$color-primary-light;
  border-color: colors.$color-primary-light;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.credit-card-icon{
  margin-right: 10px;
  background: url("../../../assets/icons/credit-card.svg");
  width: 30px;
  height: 23px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .donation-content {
    padding: 42px 10px;
    //display: flex;
    //flex-direction: column-reverse;

    span {
      display: block;
      padding: 0 10px;
      text-align: center;
    }
  }

  .donation-content-text {
    //width: 100%;
  }

  h3 {
    font-size: 25px;
    text-align: center;
    //width: 98%!important;
  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 14px;
    text-align: center;
  }

  .credit-card {
    margin: 20px auto;
    width: 270px;
    justify-content: center;
    h4 {
      font-size: 15px;
      line-height: 110%;
    }
  }

  .donation-dog {
    margin: 42px 30px 0 30px;
    height: 135px;
    background-position-x: center;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .donation-content-text {
    padding: 80px 194px 60px 194px;
  }
  .credit-card {
    margin: 20px 31px 20px 0;
  }

  .donation-content {
    padding-bottom: 100px;
  }

  //.donation-dog {
  //  margin: 42px 30px 0 30px;
  //  height: 135px;
  //  background-position-x: center;
  //}
}

