@use "../../commonStyles/colors";


footer {
  background-image: url("../../../assets/images/start-screen-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  //height: 350px;
}

.footer-content{
  //display: flex;
  //padding-top: 40px;

  h3{
    margin: 0;
    color: colors.$color-light-xl;
  }

  h4 {
    margin: 0;
  }

  .contacts {
    //margin-top: 17px;

    .email, .phone {
      display: flex;
      margin-top: 40px;
    }

    h3 {
      //width: 70%;
    }

  }

  .locations {
    //margin-top: 17px;
    padding-bottom: 40px;
    //margin-left: 10px; commented for small size

    .location {
      display: flex;
    //44
      margin-top: 34px;
    }

    h3 {
      //width: 70%;
    }

    h4 {
      width: 85%;
      //width: 60%; commented for small screen

    }
  }

  .footer-puppy {
    //width: 400px;
    height: 269px;

    background: url("../../../assets/images/footer-puppy.png") no-repeat center;
    background-size: contain;
  }

  .email-icon {
    background: url("../../../assets/icons/mail.png") no-repeat;
    width: 40px;
    height: 32px;
    margin-right: 20px;
  }

  .phone-icon {
    background: url("../../../assets/icons/icon-phone.svg");
    width: 40px;
    height: 32px;
    margin-right: 20px;
  }

  .location-icon {
    background: url("../../../assets/icons/icon-marker.png") no-repeat;
    width: 22px;
    height: 32px;
    margin-right: 20px;
  }
}

a {
  text-decoration: none;
  color: colors.$color-primary;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    padding: 30px 10px 0 10px;
    justify-content: center;
  }

  h4 {
    font-size: 20px;
  }

  .footer-content .contacts .email, .footer-content .contacts .phone {
    justify-content: center;
  }

  .contacts {
    margin-bottom: 40px;
  }

  .locations {
    text-align: center;
    margin: auto;
    h3 {
      margin: 0 15px;
    }

    .location {
      margin-top: 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer-content {
    padding: 30px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts, .locations {
    order: 1;
  }

  .footer-puppy {
    order: 2;
  }

  .contacts {
    width: 288px;
    padding-right: 60px;
  }

  .locations {
    width: 288px;
  }

  .footer-puppy {
    width: 300px;
  }
}
