@use "../../commonStyles/colors";


footer {
  background-image: url("../../../assets/images/start-screen-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-content{
  h3{
    margin: 0;
    color: colors.$color-light-xl;
  }

  h4 {
    margin: 0;
  }

  .contacts {
    .email, .phone {
      display: flex;
      margin-top: 40px;
    }
  }

  .locations {
    padding-bottom: 40px;

    .location {
      display: flex;
      align-items: center;
    }

    h4 {
      width: 85%;
    }
  }

  .footer-puppy {
    height: 269px;

    background: url("../../../assets/images/footer-puppy.png") no-repeat center;
    background-size: contain;
  }

  .email-icon {
    background: url("../../../assets/icons/mail.png") no-repeat;
    width: 40px;
    height: 32px;
    margin-right: 20px;
  }

  .phone-icon {
    background: url("../../../assets/icons/icon-phone.svg");
    width: 40px;
    height: 32px;
    margin-right: 20px;
  }

  .location-icon {
    background: url("../../../assets/icons/icon-marker.png") no-repeat;
    width: 22px;
    height: 32px;
    margin-right: 20px;
  }
}

a {
  text-decoration: none;
  color: colors.$color-primary;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    padding: 30px 10px 0 10px;
    justify-content: center;
  }

  h4 {
    font-size: 20px;
  }

  .footer-content .contacts .email, .footer-content .contacts .phone {
    justify-content: center;
  }

  .contacts {
    margin-bottom: 40px;
  }

  .locations {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin: auto;
    h3 {
      margin: 0 15px;
    }

    .location {
      margin-top: 40px;

      .location {
        //display: flex;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer-content {
    width: 708px;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .footer-puppy {
      width: 300px;
      height: 310px;
      background-size: contain;
    }

    .locations {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 298px;
      padding-bottom: 55px;

      .location {
        margin-top: 38px;
      }
    }
  }

  .contacts, .locations {
    order: 1;
  }

  .footer-puppy {
    order: 2;
  }

  .contacts {
    width: 288px;
    padding-right: 50px;
  }

}

@media (min-width: 1280px) {
  .footer-content {
    padding-top: 40px;
    display: flex;

    .contacts, .locations {
      padding: 16px 160px 60px 0;
    }

    .contacts {
      width: 280px;
    }

    .locations {
      width: 300px;

      .location {
        margin-top: 33px;
      }
    }

    .footer-puppy {
      width: 300px;
      height: 310px;
      background-size: contain;
    }
  }
}
