@use "../../commonStyles/colors";


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content{
  width: 100%;
  display: flex;
  margin: 60px 0;
  align-items: center;
  justify-content: space-between;
}

.shelter-logo{
  width: 186px;
}

h1{
  color: colors.$color-primary;
}

.logo-title {
  margin-bottom: 9px;
}

.logo-subtitle{
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;

  color: colors.$color-light-xl;
}

.nav-menu {
  width: 443px;
  height: 27px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  padding: 12px;
}

.nav-menu-link{
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: colors.$color-dark-s;
  text-decoration: none;
}

.nav-menu-link:hover, .nav-menu-link:active {
  color: colors.$color-light-l;
  text-decoration: none;
}

hr {
  color: colors.$color-primary;
  border-width:0;
  background-color: colors.$color-primary;
  height: 2px;
  width: 85%;
  margin: auto;
}
