@use "../../commonStyles/colors";

.help {
  background: colors.$color-light-xl;
}

.help-content{
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 0;
    text-align: center;
    color: colors.$color-dark-l;
  }
}

.help-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  h4 {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: colors.$color-dark-l;
  }
}

.help-item{
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .help-img {
    width: 60px;
    height: 60px;
  }
}

div#food .help-img{
  background: url("../../../assets/icons/icon-pet-food.svg") no-repeat;
}
div#transportation .help-img{
  background: url("../../../assets/icons/icon-transportation.svg") no-repeat;
}
div#toys .help-img{
  background: url("../../../assets/icons/icon-toys.svg") no-repeat;
}
div#bowls-and-cups .help-img{
  background: url("../../../assets/icons/icon-bowls-and-cups.svg") no-repeat;
}
div#shampoos .help-img{
  background: url("../../../assets/icons/icon-shampoos.svg") no-repeat;
}
div#vitamins .help-img{
  background: url("../../../assets/icons/icon-vitamins.svg") no-repeat;
}
div#medicines .help-img{
  background: url("../../../assets/icons/icon-medicines.svg") no-repeat;
}
div#collars-and-lashes .help-img{
  background: url("../../../assets/icons/icon-collars-leashes.svg") no-repeat;
}
div#sleeping-areas .help-img{
  background: url("../../../assets/icons/icon-sleeping-area.svg") no-repeat;
}

@media (min-width: 320px) and (max-width: 767px) {
  .help {
    h3 {
      padding: 42px 49px;
    }

    h4 {
      font-size: 15px;
    }

    .help-list {
      padding: 0 15px 42px 15px;
      gap: 30px 30px;
      justify-content: space-between;
    }

    .help-item {
      width: 40%;
      //width: 130px;
      height: 87px;
    }

    .help-img {
      background-size: cover !important;
      width: 50px;
      height: 50px;

    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .help-list {
    width: 630px;
    padding: 0 69px 100px 69px;
    justify-content: center;
    gap: 52px 60px;
  }

  .help-content h3 {
    padding: 80px 229px 60px 229px;
  }

  .help-item {
    width: 170px;
  }
}

@media (min-width: 1280px) {
  .help-content {
    padding: 80px 40px 100px 40px;

    h3 {
      width: 310px;
    }

    .help-list {
      justify-content: center;
      gap: 52px 119px;
      margin: 60px 87px 0 87px;
    }
  }
}
