@use "../../commonStyles/colors";

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.our-friends{
  background: colors.$color-light-l;
}

.our-friends-content{
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 80px;
    text-align: center;
    color: colors.$color-dark-l;
  }
}

.our-friends-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cards {
    position: relative;
    //transform: translateX(200%);
    //left: 1200px;
    transition: left 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 92px;
  }

  .card {
    //transition-duration: 6s;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .our-friends {
    .our-friends-content {
      padding: 42px 10px;
      text-align: center;

      h3 {
        margin-top: 0;
      }
    }

    .our-friends-slider {
      padding: 42px 15px;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 10px;
    }

    button {
      order: 1;
    }

    a {
      padding: 0 20px;
    }

    .cards {
      flex: 0 100%;
      display: flex;
      justify-content: center;
    }

    .our-friends-btn {
      padding: 15px 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .our-friends-content {
    padding: 0 30px 100px 30px;

    .our-friends-slider {
      margin: 55px 0;
    }
  }

  .left-arrow {
    margin-right: 12px;
  }

  .right-arrow {
    margin-left: 12px;
  }

  .our-friends-slider .cards {
    gap: 45px;
  }
}

@media (min-width: 1280px) {
  .our-friends-content {
    padding: 0 40px 100px 40px;

    .our-friends-slider {
      width: 100%;
      margin: 55px 0;
    }
  }
}
