@use "../../commonStyles/colors";


.start-screen{
  background-image: url("../../../assets/images/start-screen-background.jpg");
  background-repeat: no-repeat;
  //background-size: cover;
  //height: 908px;
}

.start-screen-puppy{
  //  //width: 698px;
  //  //height: 728px;
  background: url("../../../assets/images/start-screen-puppy.png") no-repeat;
}

.not-only {
  display: flex;
}

.not-only-content {
  //width: 42%;
}

.not-only-heading{
  //width: 310px;
  margin-top: 164px;
  //letter-spacing: 0.0em;
  color: colors.$color-light-xl;
}

.not-only-subheading{
  margin: 40px 0;
  //width: 460px;
  color: colors.$color-dark-s;
}

@media (min-width: 320px) and (max-width: 767px) {
  .not-only {
    display: block;
    padding: 60px 10px 0 10px;
    text-align: center;
  }

  .not-only-heading {
    padding: 0 34px;
    margin: 0;
    color: colors.$color-light-xl;
  }

  .not-only-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .not-only-subheading {
    margin: 42px 0;
  }

  .start-screen-puppy {
    margin-top: 105px;
    //background: url("../../../assets/images/start-screen-puppy.png") no-repeat;
    background-size: contain;
    height: 271px;
    background-position-x: right;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .start-screen{
    background-size: cover;
  }

  .not-only {
    flex-direction: column;
    //align-items: center;
    padding: 18px 100px 0 100px;
  }

  .not-only-content {
    padding: 0 55px;


    h3 {
      font-size: 44px;
      line-height: 130%;
      color: colors.$color-light-xl;
      letter-spacing: 0;
    }

    a {
      display: flex;
      justify-content: center;
    }
  }

  .start-screen-puppy {
    height: 569px;
    background-size: contain;
    background-position-x: right;
    margin-top: 100px;
  }
}

@media (min-width: 1280px) {
  .center-aligned {
    width: 1200px;
    margin: auto;
  }

  .start-screen {
    background-size: cover;
  }

  .not-only {
    padding: 0 40px;

    .not-only-content {
      padding: 163px 42px 243px 0;

      h2 {
        margin: 0;
        color: colors.$color-light-xl;
        letter-spacing: 0;
      }

      .not-only-subheading {
        margin: 42px 0;
        width: 462px;
      }
    }

    .start-screen-puppy {
      height: 728px;
      width: 698px;
    }
  }
}

