@import "colors";
@import "text_styles";

footer {
  background-image: url("../../assets/images/start-screen-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 350px;
  left: 0;
  right: 0;
  top: 3446px;
}

.footer-content{
  position: absolute;
  width: 1200px;
  height: 310px;
  left: 40px;
  top: 40px;

  .contacts {
    position: absolute;
    width: 279px;
    height: 234px;
    left: 0;
    top: 16px;

    h3{
      position: absolute;
      width: 279px;
      height: 90px;
      left: calc(50% - 278px/2 - 0px);
      top: 0;

      color: $color-light-xl;
    }

    .email{
      position: absolute;
      width: 251px;
      height: 32px;
      left: 0;
      top: 133px;

      display: flex;

      h4{
        position: absolute;
        width: 191px;
        height: 23px;
        left: calc(50% - 191px/2 + 30px);
        top: 2px;
      }
    }

    .phone{
      position: absolute;
      width: 239px;
      height: 32px;
      left: 0;
      top: 202px;

      display: flex;
      h4 {
        position: absolute;
        width: 180px;
        height: 23px;
        left: calc(50% - 179px/2 + 30px);
        top: 4px;
      }
    }


  }

  .locations {
    position: absolute;
    width: 302px;
    height: 234px;
    left: 438px;
    top: 16px;

    h3{
      position: absolute;
      width: 270px;
      height: 90px;
      left: calc(50% - 270px/2 - 15px);
      top: 0;

      color: $color-light-xl;
    }

    .boston {
      position: absolute;
      width: 302px;
      height: 46px;
      left: 0px;
      top: 130px;

      display: flex;

      h4{
        position: absolute;
        width: 260px;
        height: 46px;
        left: calc(50% - 260px/2 + 21px);
        top: -6px;
      }
    }

    .london {
      position: absolute;
      width: 302px;
      height: 32px;
      left: 0px;
      top: 202px;

      display: flex;

      h4 {
        position: absolute;
        width: 260px;
        height: 23px;
        left: calc(50% - 260px/2 + 21px);
        top: 5px;

      }
    }
  }

  .email-icon {
    background: url("../../assets/icons/mail.png") no-repeat;
    width: 40px;
    height: 32px;
  }

  .phone-icon {
    background: url("../../assets/icons/icon-phone.svg");
    width: 40px;
    height: 32px;
  }

  .location-icon {
    background: url("../../assets/icons/icon-marker.png") no-repeat;
    width: 22px;
    height: 32px;
  }
}

.footer-puppy{
  position: absolute;
  width: 300px;
  height: 310px;
  left: calc(50% - 300px/2 + 450px);
  top: 0;

  background: url("../../assets/images/footer-puppy.png");
}


