//@import "general";

@use "../../commonStyles/colors";

@import "../../commonStyles/normalize";
@import "../../commonStyles/text_styles";
@import "../../commonStyles/buttons";
@import "../../commonStyles/card";

@import "../styles/header";
@import "../styles/startScreen";
@import "../styles/about";
@import "../styles/ourFriends";

@import "../styles/help";
@import "../styles/donation";
@import "../styles/footer";
//1280px <= width
//768px <= width < 1280px
//320px <= width < 768px


.content-wrapper{
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px){
  h3 {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }

}
