@use "../common/colors";


.donation{
  position: absolute;
  height: 462px;
  left: 0;
  right: 0;
  top: 2984px;

  background: colors.$color-light-l;
}

.donation-content{
  position: absolute;
  width: 915px;
  height: 282px;
  left: calc(50% - 915px/2 + 0.5px);
  top: 81px;

  h3{
    position: absolute;
    width: 300px;
    height: 90px;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    color: colors.$color-dark-l;
  }

  h4{
    position: absolute;
    height: 23px;
    left: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: colors.$color-dark-l;
  }

  h5{
    position: absolute;
    height: 17px;
    left: 0;
    top: 110px;
    display: flex;
    align-items: center;
    color: colors.$color-dark-l;
  }

  span{
    position: absolute;
    width: 380px;
    height: 72px;
    left: 0;
    top: 210px;

    font-family: 'Arial', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: colors.$color-dark-m;
  }

  a {
    text-decoration: none;
    color: colors.$color-dark-l;
  }
}

.donation-dog{
  position: absolute;
  width: 505px;
  height: 261px;
  left: 0;
  top: 11px;
  background: url("../../assets/images/donation-dog.png");
}

.donation-content-text{
  position: absolute;
  width: 380px;
  height: 282px;
  left: 535px;
  top: 0;
}

.credit-card{
  display: flex;
  align-items: center;
  padding: 10px 15px;

  position: absolute;
  width: 320px;
  height: 20px;
  left: 0;
  top: 147px;

  background: colors.$color-primary;
  border-radius: 9px;
}

.credit-card:hover {
  background: colors.$color-primary-light;
  border-color: colors.$color-primary-light;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.credit-card-icon{
  background: url("../../assets/icons/credit-card.svg");
  width: 30px;
  height: 23px;
}
