@use "../common/colors";


.help {
  position: absolute;
  height: 611px;
  left: 0;
  right: 0;
  top: 2373px;

  background: colors.$color-light-xl;
}

.help-content{
  height: 431px;
  top: 80px;

  h3 {
    position: absolute;
    width: 310px;
    height: 90px;
    left: 446px;
    top: 0;

    display: flex;
    align-items: center;
    text-align: center;

    color: colors.$color-dark-l;
  }
}

.help-list{
  position: absolute;
  width: 1026px;
  height: 336px;
  left: 87px;
  top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 64px;

  h3{
    position: absolute;
    width: 308px;
    height: 90px;
    left: 446px;
    top: 0;

    display: flex;
    align-items: center;
    text-align: center;
    color: colors.$color-dark-l;
  }

  h4{
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: colors.$color-dark-l;
  }
}

.help-item{
  width: 154px;
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .help-img {
    width: 60px;
    height: 60px;
  }
}

div#food .help-img{
  background: url("./../../assets/icons/icon-pet-food.svg") no-repeat;
}
div#transportation .help-img{
  background: url("./../../assets/icons/icon-transportation.svg") no-repeat;
}
div#toys .help-img{
  background: url("./../../assets/icons/icon-toys.svg") no-repeat;
}
div#bowls-and-cups .help-img{
  background: url("./../../assets/icons/icon-bowls-and-cups.svg") no-repeat;
}
div#shampoos .help-img{
  background: url("./../../assets/icons/icon-shampoos.svg") no-repeat;
}
div#vitamins .help-img{
  background: url("./../../assets/icons/icon-vitamins.svg") no-repeat;
}
div#medicines .help-img{
  background: url("./../../assets/icons/icon-medicines.svg") no-repeat;
}
div#collars-and-lashes .help-img{
  background: url("./../../assets/icons/icon-collars-leashes.svg") no-repeat;
}
div#sleeping-areas .help-img{
  background: url("./../../assets/icons/icon-sleeping-area.svg") no-repeat;
}
