@import "../common/normalize";

@import "../common/text_styles";
@import "../common/buttons";
@import "../common/card";
@import "../common/footer";

@import "startScreen";
@import "about";
@import "ourFriends";
@import "help";
@import "donation";


.center-aligned{
    position: absolute;
    width: 1200px;
    left: calc(50% - 1200px/2);
}
