@use "../../commonStyles/colors";

@import "../../commonStyles/normalize";

@import "../../commonStyles/text_styles";
@import "../../commonStyles/buttons";
@import "../../commonStyles/card";
@import "../../main/styles/footer";
@import "../../commonStyles/modal";

@import "header";

* {
  caret-color: transparent;
}

@media (min-width: 1280px) {
  .center-aligned {
    width: 1200px;
    margin: auto;
  }
}

.content-wrapper{
  width: 100%;
}

#main {
  width: 100%;
  position: absolute;
  top: 120px;
  overflow-x: hidden;
  bottom: 0;
}

.our-friends{
  background: colors.$color-light-l;
}

.our-friends-content {
  h3 {
    margin: 0 auto;
    text-align: center;
    color: colors.$color-dark-l;
  }

  .pets-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#go-to-first, #go-back, #current, #go-next {
  margin-right: 20px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .our-friends-content {
    padding: 42px 10px;
  }
  #sophia, #timmy, #charly, #scarlett, #freddie {
    display: none;
  }

  .cards-container {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 30px;
  }

  #go-to-first, #go-back, #current, #go-next {
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .our-friends-content {
    width: 708px;
    margin: 0 auto;
    padding: 60px 30px 70px 30px;
  }

  .friends-header {
    padding: 20px 154px 30px 154px;
  }

  #scarlett, #freddie {
    display: none;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 64px 40px 64px;
    gap: 20px 40px;
  }
}

@media (min-width: 1280px) {
  .our-friends-content {
    padding: 80px 0 100px 0;
  }

  .cards-container {
    padding: 57px 0;
    display: grid;
    gap: 20px 40px;
    grid-template-columns: auto auto auto auto;
  }
}
